<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin DashBoard</title>
</head>

<body>
    <h1>
        Admin DashBoard
    </h1>
    <table border="5">
        <thead>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Mobile</th>
        </thead>
        {% for user in users%}
        <tbody>
            <td>{{user.name}}</td>
            <td>{{user.age}}</td>
            <td>{{user.email}}</td>
            <td>{{user.mobile}}</td>
        </tbody>
        {% endfor %}
    </table>
</body>

</html>