<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Student Management{% endblock %}</title>

    <link rel="icon"
        href="https://static.vecteezy.com/system/resources/thumbnails/045/546/274/small/boy-wear-graduation-hat-and-holding-book-3d-free-png.png">
</head>

<body>

    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'add_students' %}">Add Student</a>
        <a href="{% url 'student_list' %}">Edit Students</a>
    </nav>

    {% block content %}
    {% endblock %}

</body>

</html>