<button><a href="{% url 'home' %}">Back To Home</a></button>
{% if students %}
<ul>
    {% for student in students %}
    <li>
        {{ student.name }} - {{ student.email }}

        <button>
            <a href="{% url 'edit_students' student.id %}">Edit</a>
        </button>

        <button command="show-modal" commandfor="dialog-{{ student.id }}">
            Delete
        </button>

        <dialog id="dialog-{{ student.id }}">
            <form action="{% url 'delete' student.id %}" method="post">
                {% csrf_token %}

                <p>Are you sure you want to delete {{ student.name }}?</p>

                <button type="submit">Delete</button>
                <button type="button" command="close" commandfor="dialog-{{ student.id }}">
                    Cancel
                </button>
            </form>
        </dialog>
    </li>
    {% endfor %}
</ul>

{% else %}
<h1>No Students Registered !!!</h1>
{% endif %}