{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>

    <link rel="icon"
        href="https://cdni.iconscout.com/illustration/premium/thumb/task-management-illustration-svg-download-png-7050132.png">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="{% static 'form.css' %}">

</head>

<body>

    <div class="nav">
        <a href="{% url 'tasks' %}">Home</a>
        <a href="{% url 'addTask' %}">Add Task</a>
    </div>

    {% block content %}{% endblock %}

</body>

</html>